.phonebook__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 12px;
}

.phonebook__list li {
    display: flex;
    gap: 12px;
    align-items: center;
}

.contact__item {
    background-color: white;
    border-color: inherit;
    border-radius: 8px;

    cursor: pointer;
}

.contact__item:hover {
    color: blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.contact__item:focus,
.contact__item:active {
    outline: none;

    background-color: blue;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}